# Database configuration
DB_USERNAME=root
DB_PASSWORD=

# JWT Configuration
APP_JWT_SECRET=ReplaceThisWithAtLeast32CharactersLongJwtSecretKey
APP_JWT_EXPIRATION_MS=86400000

# Email configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=votre-email@gmail.com
MAIL_PASSWORD=votre-mot-de-passe-app
MAIL_FROM=votre-email@gmail.com
